<div class="login-container">
    <img class="login-img" src="https://portal.ub-games.com/img/ub-games-logo.16b257a7.png" />

    <form method="POST" action="/users">
        <label for="username"> Username </label>
        <input id="username" name="username" type="text" class="form-control" />
        
        <label for="password"> Password </label>
        <input id="password" name="password" type="password" class="form-control" />

        <div>
             <input type="submit" value="xpto"> Login </input>
        </div>
    </form>
</div>